body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(../imagenes/logo_snitch.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body p {
	text-align: justify;
}

header i {
	font-size: 30px;
}

main .jumbotron {
	background-color: rgba(248, 249, 250, .75);
}

.footer p {
	color: rgba(255, 255, 255, .75);
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer i {
	color: rgba(255,255,255,.75);
	font-size: 20px;
}

.card:hover {
	border: 1px solid black;
	cursor: pointer;
}
